
<div id="wrapper" class="container">
    <div class="exclamation">
        <h1><%= '<%=' %> <%= 'title' %> <%= '%' %><%= '>' %></h1>
        <h6>It worked</h6>
    </div>

    <div class="explantion">
        <h2><%= humanAppname %></p>

        <h3>Things to know about your app's structure:</h3>

<pre>.
├── app/ <span class="comments">// this is set up like a typical model/view/controller (mvc) app. </span>
|    ├── fonts/ 
|    ├── images/
|    ├── styles/
|    └── scripts/
|       ├── lib/         <span class="comments">// use this to store libraries that </span>
|       |                <span class="comments">   aren't in npm or bower (inorite).</span>
|       ├── models/      <span class="comments">// these next 4 directories are your standard</span>
|       ├── collections/ <span class="comments">   backbonejs components. </span>         
|       ├── templates/  
|       ├── views/
|       └── router.js    <span class="comments">// edit this to add more "pages"</span>
|                        <span class="comments">   to your single "page" app.</span>
├── gulp/          <span class="comments">// has your tasks and config broken out in files. </span>
├── {appname}.json <span class="comments">// contains your app configurations. </span>
└── app.js         <span class="comments">// initializes your app. </span>
    </pre>
  </div>
</div>


