
<div id="wrapper" class="container">
	<div class="explantion">
		<p><span class="bigger">!</span></p>
	</div>

	<div class="exclamation">
		<h1><%= '<%=' %> <%= 'title' %> <%= '%' %><%= '>' %></h1>
		<h6>It worked</h6>
	</div>
</div>
